#root {
  width: 100%;
  height: 100%;
  background-color: #181716;
  display: flex;
  justify-content: center;
}

#root main {
  width: 65%;
}

.music-screen {
  height: 700px;
  margin-top: 70px;
  position: relative;

  @media screen and (max-width: 1370px) {
    height: 600px;
  }

  @media screen and (max-width: 1270px) {
    height: 450px;
  }
  @media screen and (max-width: 1170px) {
    height: 400px;
  }
  @media screen and (max-width: 1000px) {
    height: 350px;
  }
  @media screen and (max-width: 600px) {
    height: 300px;
  }
  @media screen and (max-width: 455px) {
    height: 200px;
  }
}
.music-screen img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.audio-controller {
  width: 100%;
  height: 40px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 0px 500px black;
  @media screen and (max-width: 600px) {
    zoom: 0.7;
  }
}

.left-controls {
  height: 100%;
  display: flex;
  align-items: center;
}

.left-controls button {
  width: 50px;
  height: 100%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-range {
  height: 5px;
  width: 70px;
  cursor: pointer;
  accent-color: white;
  background: white;
  border: 0px;
  margin-bottom: 8px;
}
.volume-range:focus {
  outline: none;
}

.no-show {
  display: none;
}
.comments {
  margin-bottom: 100px;
}
.textarea-container {
  margin-top: 40px;
}

.textarea {
  width: 100%;
  outline: none;
  color: white;
  background: none;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  font-size: 15px;
  resize: none;
  overflow: hidden;
}

.textarea-container .textarea:focus {
  border-bottom: 1px solid white;
}

.buttons-container {
  text-align: end;
  position: relative;
  top: 10px;
}

.button-cancel,
.button-submit {
  color: white;
  border-radius: 20px;
  margin-left: 15px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}

.button-cancel:hover {
  background-color: #3f3f3f;
}

.submit-active {
  background-color: #539ee0;
  color: black;
}

.submit-active:hover {
  background-color: #65b8ff;
}

.submit-disabled {
  cursor: default;
  background-color: #272727;
  color: #666666;
}

.comments-list {
  margin-top: 50px;
}

.nickname,
.content {
  color: white;
}
.nickname {
  font-size: 13px;
  margin-bottom: 5px;
}

.comment {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-top: 50px;

  @media screen and (max-width: 865px) {
    flex-direction: column;
    gap: 10px;
  }
}
.input-container div {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-container span {
  color: white;
  margin-right: 10px;
}
.input-container input {
  background: none;
  outline: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  padding: 4px 8px;
  line-height: 1.5;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}

.input-container input:focus {
  border: 1px solid white;
}

.music-title {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  box-shadow: black;

  @media screen and (max-width: 600px) {
    zoom: 0.5;
  }
}
.comments {
  position: relative;
}

.comments-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(68, 67, 67);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
